@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'kodak';
    src: url('./assets/Font/kodakku.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }